@import './base.css';

html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;  
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.v-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.v-main {
  flex: 1;  
  min-height: 100vh;  
  background-color: #212121;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: row; /* Sidebar + Conteúdo */
    padding: 0 2rem;
  }
}
